
# to run with docker
DATABASE_URL="postgresql://postgres:<POSTGRES_PASSWORD>@postgres:5432/postgres?schema=newsfeed"

# to run local
DATABASE_URL="postgresql://postgres:<POSTGRES_PASSWORD>@localhost:5432/postgres?schema=newsfeed"

POSTGRES_PASSWORD=random_password
PORT=5566
SECRET_KEY=secret_key
CLOUD_BUCKET=cloud_bucket_link